<div class="store-item">
	<p class="store-item-name"><%=name%></p>
	<img src="/images/0.jpg" width="280" height="280"/>
	<div class="store-item-price-div">
		<span>$<%=price%></span>
		<button>add to cart</button>
	</div>
</div>

